.container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/img/home-new.gif');
    background-size: cover;
}
.container h1{
    font-family: 'New Tegomin', serif;
    color: aliceblue;
    text-decoration: none;
    text-shadow: 4px 4px 8px black;
    text-align: center;
}